# R
.Rproj.user
*.RData
*.Rhistory
*.Rproj

# doc
*.tmp
*.doc
*.docx
*.ppt
*.pptx
*.pdf

# data
US/Data/
*.sas7bdat
*.csv

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# VIM
*.swp
